In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [1]:
# The code was removed by Watson Studio for sharing.

    ROLLNO  T1SUB1  T1SUB2  T1SUB3  T1SUB4  T1SUB5  T2SUB1  T2SUB2  T2SUB3  \
6      117      55      82      54      83      74      40      74      78
1      112      66      56      45      56      79      77      87      45
14     125      78      77      93      54      92      89      98      98
2      113      66      61      67      54      89      65      43      65
7      118      56      93      65     100      84      74      89      49
9      120      98      75     100      35      94      40      90      38
4      115      87      44      88      80      50      89      89      36
0      111      79      60      77      80      90      71      56      64
12     123      90      63      50      92      88      92      95      66
13     124      92      89      71      59      93      94     100      78
16     127      95      55      73      70      73      90      81     100
8      119     100      74      57      89      94      90      77      50
11     122      78      64      87      83      70      93      94      78
15     126      84      67      84      60      89      85      89      99
19     130      66      89      60      90      95      90      50      89
18     129     100      88      83      82      95      78      40      77
3      114      90      34      67      72     100     100      83      89
17     128      74      53      55     100      84      84      70      54
5      116      78      47      48      99      69     100      76      89
10     121      89      90      89      87      88      78      93      80

    T2SUB4  ...  T3SUB1  T3SUB2  T3SUB3  T3SUB4  T3SUB5  T1Total  T2Total  \
6       38  ...      76      40      67     100      99      348      312
1       66  ...      90      88      76      88      90      302      331
14      49  ...      58      45      68      50      58      394      399
2       76  ...      66      78      78      89      90      337      336
7       40  ...     100      70      66      36      78      398      326
9       84  ...      56      56      56      99      67      402      352
4       68  ...      80      39      81     100      78      349      365
0       78  ...      77      89      45      87      89      386      320
12      70  ...      56      67      68      89      78      383      368
13      66  ...      57      66      76      88      68      404      386
16      56  ...      90      56      90      66      89      366      390
8       78  ...      67      84      65      67      79      414      385
11      80  ...      45      87      59      90      90      382      410
15      38  ...      89     100      78      60      79      384      375
19      71  ...      78      73      89      76      78      400      375
18      61  ...      94      73      80      78      68      448      330
3       79  ...      90      78      60      78      90      363      413
17     100  ...      93      89      89      64      90      366      381
5       80  ...      87      49      89      90      89      341      438
10      67  ...      65      79      58      88      89      443      405

    T3Total        mean  Rank
6       382  347.333333    20
1       432  355.000000    19
14      279  357.333333    18
2       401  358.000000    16
7       350  358.000000    16
9       334  362.666667    15
4       378  364.000000    14
0       387  364.333333    13
12      358  369.666667    12
13      355  381.666667    11
16      391  382.333333    10
8       362  387.000000     9
11      371  387.666667     8
15      406  388.333333     7
19      394  389.666667     6
18      393  390.333333     5
3       396  390.666667     3
17      425  390.666667     3
5       404  394.333333     2
10      379  409.000000     1

[20 rows x 21 columns]