In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [10]:
# The code was removed by Watson Studio for sharing.

,ROLLNO,T1SUB1,T1SUB2,T1SUB3,T1SUB4,T1SUB5,T2SUB1,T2SUB2,T2SUB3,T2SUB4,T2SUB5,T3SUB1,T3SUB2,T3SUB3,T3SUB4,T3SUB5
0,111,79,60,77,80,90,71,56,64,78,51,77,89,45,87,89
1,112,66,56,45,56,79,77,87,45,66,56,90,88,76,88,90
2,113,66,61,67,54,89,65,43,65,76,87,66,78,78,89,90
3,114,90,34,67,72,100,100,83,89,79,62,90,78,60,78,90
4,115,87,44,88,80,50,89,89,36,68,83,80,39,81,100,78

In [8]:
# The code was removed by Watson Studio for sharing.

    ROLLNO  T1SUB1  T1SUB2  T1SUB3  T1SUB4  T1SUB5  T2SUB1  T2SUB2  T2SUB3  \
0      111      79      60      77      80      90      71      56      64
1      112      66      56      45      56      79      77      87      45
2      113      66      61      67      54      89      65      43      65
3      114      90      34      67      72     100     100      83      89
4      115      87      44      88      80      50      89      89      36
5      116      78      47      48      99      69     100      76      89
6      117      55      82      54      83      74      40      74      78
7      118      56      93      65     100      84      74      89      49
8      119     100      74      57      89      94      90      77      50
9      120      98      75     100      35      94      40      90      38
10     121      89      90      89      87      88      78      93      80
11     122      78      64      87      83      70      93      94      78
12     123      90      63      50      92      88      92      95      66
13     124      92      89      71      59      93      94     100      78
14     125      78      77      93      54      92      89      98      98
15     126      84      67      84      60      89      85      89      99
16     127      95      55      73      70      73      90      81     100
17     128      74      53      55     100      84      84      70      54
18     129     100      88      83      82      95      78      40      77
19     130      66      89      60      90      95      90      50      89

    T2SUB4  T2SUB5  T3SUB1  T3SUB2  T3SUB3  T3SUB4  T3SUB5  T1Total  T2Total  \
0       78      51      77      89      45      87      89      386      320
1       66      56      90      88      76      88      90      302      331
2       76      87      66      78      78      89      90      337      336
3       79      62      90      78      60      78      90      363      413
4       68      83      80      39      81     100      78      349      365
5       80      93      87      49      89      90      89      341      438
6       38      82      76      40      67     100      99      348      312
7       40      74     100      70      66      36      78      398      326
8       78      90      67      84      65      67      79      414      385
9       84     100      56      56      56      99      67      402      352
10      67      87      65      79      58      88      89      443      405
11      80      65      45      87      59      90      90      382      410
12      70      45      56      67      68      89      78      383      368
13      66      48      57      66      76      88      68      404      386
14      49      65      58      45      68      50      58      394      399
15      38      64      89     100      78      60      79      384      375
16      56      63      90      56      90      66      89      366      390
17     100      73      93      89      89      64      90      366      381
18      61      74      94      73      80      78      68      448      330
19      71      75      78      73      89      76      78      400      375

    T3Total
0       387
1       432
2       401
3       396
4       378
5       404
6       382
7       350
8       362
9       334
10      379
11      371
12      358
13      355
14      279
15      406
16      391
17      425
18      393
19      394

In [11]:
df_data_1['mean']= df_data_1.iloc[:,16:19].mean(axis=1)
df_data_1.sort_values("mean", inplace = True) 
df_data_1["Rank"] = df_data_1["mean"].rank(method='average',ascending=False).astype(int)
print(df_data_1)

ValueError: Cannot convert non-finite values (NA or inf) to integer